* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html, body {
    height: 100%;
    font-family: JB;
    font-weight: 400;
    background-color: black;
    color: lime;
    user-select: none;
}
@font-face {
    font-family: JB;
    src: url(../font/JetBrainsMono[wght].ttf);
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: #101010;
}
body::-webkit-scrollbar-thumb {
    background-color: #020202;
    border-radius: 5px;
}
input[type=text] {
    font-family: JB;
    font-size: 16px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.2);
}
input[type=text]:focus {
    outline: 0;
}
.idiomas-wraper {
    width: 100%;
    height: 100%;
    background-color: #001100;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.idiomas {
    color: white;
    width: 95%;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.idioma {
    width: 50%;
    float: left;
    text-align: center;
    padding: 30px;
}
.idioma img {
    width: 100%;
    box-shadow: 0 0 20px black;
    cursor: pointer;
}
.idioma h1 {
    text-shadow: 0 0 10px black,
    0 0 20px black,
    0 0 50px black;
    font-size: 20px;
}
header {
    width: 70%;
    min-width: 500px;
    height:50px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(0, 10, 0);
}
header > nav {
    position: relative;
}
header > nav > ul, .cores ul {
    list-style-type: none;
}
header > nav > ul > li {
    float: left;
    margin: 0 20px 0 10px;
}
header img,
.instrucoes img {
    width: 25px;
    cursor: pointer;
}
.cores {
    width: fit-content;
    height: fit-content;
    background-color: rgb(0, 40, 0);
    position: absolute;
    left: 10px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    display: none;
    z-index: 1;
}
.cores li {
    padding: 7px 10px 7px 25px;
    font-weight: 400;
    position: relative;
    cursor: pointer;
    transition: text-shadow 0.25s ease;
}
.cores li:hover {
    text-shadow: 0 0 10px,
    0 0 20px;
}
.cores-selected {
    position: absolute;
    left: 7px;
}

#cor0 {
    color: lime;
}
#cor1 {
    color: aqua;
}
#cor2 {
    color: red;
}
#cor3 {
    color: hotpink;
}
#cor4 {
    color: fuchsia;
}
#cor5 {
    color: gold;
}

.sobre-jogo-wraper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.sobre-jogo-wraper-2 {
    width: 60%;
    min-width: 450px;
    height: 600px;
    max-height: 80vh;
    margin: 50px auto;
    position: relative;
}
#close-button {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
    border: 4px solid;
    border-color: lime;
    outline: 2px solid white;
    text-align: center;
    line-height: 45px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 2;
}
.sobre-jogo-wraper-3 {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: black;
    border-radius: 30px;
    border: 4px solid;
    border-color: lime;
    outline: 2px solid white;
}
.sobre-jogo::-webkit-scrollbar {
    width: 5px;
}
.sobre-jogo::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}
.sobre-jogo::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
}
.sobre-jogo {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: 1;
    overflow-y: auto;
}
.sobre-jogo h1 {
    text-align: center;
}
.sobre-jogo span {
    color: white;
}
.screen {
    width: 70%;
    min-width: 500px;
    height: max-content;
    min-height: calc(100% - 50px);
    margin: 0 auto;
    padding: 20px;
    background: radial-gradient(70% 50% at bottom, rgb(0, 80, 0) 5%, rgb(0, 60, 0) 20%, rgb(0, 20, 0) 100%);
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.titulo {
    text-align: center;
    margin: 0 20px 20px 20px;
}
.titulo h1 {
    font-weight: 400;
    transition: 0.25s;
    width: max-content;
    margin: 0 auto;
    text-shadow: 0 0 20px;
    word-break: break-all;
}
.glow-selected {
    color: white;
    text-shadow: 0 0 10px white,
    0 0 20px white,
    0 0 50px white;
}
.titulo h1 span {
    white-space: pre;
}
.titulo h5 {
    font-weight: lighter;
}
.principal {
    width: fit-content;
    margin-top: 15vh;
    margin-inline: auto;
}
#iniciar, #defesa, #ataque {
    font-family: JB;
    font-size: 40px;
    font-weight: 400;
    margin: 30px 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: 0.25s;
    color: lime;
    border: 2px solid lime;
}
#defesa, #ataque {
    font-size: 20px;
    margin: 15px 5px;
}
.instrucoes ul {
    list-style-type: none;
}
.instrucoes li {
    margin-bottom: 15px;
    transition: 0.25s;
}
.instrucoes span {
    display: inline-block;
    transform: translateY(-50%);
    margin-left: 15px;
    transition: .15s;
}

.modo-wraper {
    margin-top: 15vh;
    margin-inline: auto;
    width: fit-content;
    display: none;
}
.modo-wraper h2 {
    font-weight: 400;
    width: fit-content;
    margin: 0 auto;
}
.modo {
    margin: 0 auto;
    width: fit-content;
}

#name, #codigo {
    width: calc(100% - 19.2px);
    display: inline-block;
}
.niveis-unselected span {
    cursor: pointer;
    transition: 0.25s all;
}
.niveis-unselected span:hover,
.dolphin-analise-unselected span:hover {
    color: white;
}
.game-screen {
    width: 100%;
    word-wrap: break-word;
}
.hacker {
    width: 100%;
    max-width: 720px
}
.virus-mensagem, p:not(.sobre-jogo p) {
    max-width: 720px
}
.virus-bar-wraper {
    width: 70%;
    min-width: 400px;
    max-width: 720px;
}
.virus-bar {
    margin: 5px 0;
    width: 100%;
}
.virus-bar .bar-space {
    float: right;
    height: 20px;
    background-color: white;
}
.loaded-bar {
    height: 100%;
}
.decrypt {
    width: fit-content;
    max-width: 100%;
}
#novo-jogo {
    font-family: JB;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: 0.25s all;
}
#novo-jogo:hover,
#iniciar:hover,
#defesa:hover,
#ataque:hover {
    border: 2px solid white !important;
    color: white !important;
    text-shadow: 0 0 20px white;
}

.dolphin-analise-selected div,
.dolphin-analise-unselected div {
    width: 100%;
    height: 42px;
}

.dolphin-analise-unselected span {
    cursor: pointer;
}
.dolphin-img,
.clown-img {
    position: absolute;
    opacity: 0.2;
    display: none;
    z-index: -1;
}
.compilado span {
    white-space: pre;
}
.codigo-cascata {
    position: absolute;
    z-index: -1;
}
.codigo-cascata p {
    transition: .15s;
}

@media screen and (max-width: 645px) {
    .idioma {
        width: 100%;
        padding: 20px 0;
    }
    .idioma img {
        max-width: 300px;
        width: 50%;
    }
    .idioma h1 {
        font-size: 25px;
    }
    .sobre-jogo h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 520px) {
    header, .screen {
        width: 100%;
        min-width: auto;
    }
    .sobre-jogo-wraper-2 {
        width: 90%;
        min-width: auto;
    }
    #close-button {
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 35px;
        border-radius: 20px;
        top: -10px;
        right: -10px;
    }
    .titulo h1 {
        font-size: 25px;
    }
    #iniciar {
        font-size: 27px;
    }
    .modo-wraper h2 {
        font-size: 18px;
    }
    #ataque, #defesa {
        font-size: 16px;
    }
    .virus-bar-wraper {
        width: 90%;
        min-width: auto;
    }
    .codigo-cascata {
        font-size: 12px;
    }
}

@media screen and (max-width: 435px) {
    .compilado p {
        font-size: 15px;
    }
}

@media screen and (max-width: 410px) {
    .compilado p {
        font-size: 14px;
    }
}

@media screen and (max-width: 385px) {
    .compilado p {
        font-size: 13px;
    }
}

@media screen and (max-width: 365px) {
    .titulo h1 {
        font-size: 20px;
    }
    .compilado span {
        font-size: 12px;
    }
}

@media screen and (max-width: 345px) {
    .compilado span {
        font-size: 11px;
    }
}

@media screen and (max-width: 325px) {
    .compilado span {
        font-size: 10px;
    }
}

@media screen and (max-width: 310px) {
    .compilado span {
        font-size: 9px;
    }
}
