* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: JB;
    font-weight: 400;
    background-color: black;
    color: lime;
}
@font-face {
    font-family: JB;
    src: url(../font/JetBrainsMono[wght].ttf);
}
input[type=text] {
    font-family: JB;
    font-size: 16px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}
input[type=text]:focus {
    outline: 0;
}
header {
    width: 70%;
    min-width: 500px;
    height:50px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(0, 10, 0);
}
header > nav {
    position: relative;
}
header > nav > ul, .cores ul {
    list-style-type: none;
}
header > nav > ul > li {
    float: left;
    margin-left: 20px;
}
header img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.cores {
    width: fit-content;
    height: fit-content;
    background-color: rgb(0, 40, 0);
    position: absolute;
    left: 15px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    display: none;
    z-index: 1;
}
.cores li {
    padding: 7px 10px 7px 25px;
    font-weight: 400;
    position: relative;
    cursor: pointer;
}
.cores-selected {
    position: absolute;
    left: 7px;
}
#cor0 {
    color: lime;
}
#cor1 {
    color: aqua;
}
#cor2 {
    color: red;
}
#cor3 {
    color: hotpink;
}
#cor4 {
    color: fuchsia;
}
.screen {
    width: 70%;
    min-width: 500px;
    height: max-content;
    min-height: calc(100% - 50px);;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(0, 19, 0);
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.titulo {
    text-align: center;
    margin: 0 20px 20px 20px;
}
.titulo h1 {
    font-weight: 400;
}
.titulo h5 {
    font-weight: lighter;
}
#name {
    width: calc(100% - 19.2px);
    display: inline-block;
}
.niveis-unselected span {
    cursor: pointer;
    transition: 0.25s all;
}
.niveis-unselected span:hover,
.dolphin-analise-unselected span:hover {
    color: white;
}
.game-screen {
    width: 100%;
    word-wrap: break-word;
}
.hacker {
    width: 100%;
    max-width: 720px
}
.virus-bar-wraper {
    width: 70%;
    min-width: 400px;
}
.virus-bar {
    margin: 5px 0;
    width: 100%;
}
.virus-bar .bar-space {
    float: right;
    height: 20px;
    background-color: white;
}
.loaded-bar {
    height: 100%;
}
.decrypt {
    width: fit-content;
    max-width: 100%;
}
#codigo {
    display: inline-block;
}
#novo-jogo {
    font-family: JB;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: 0.25s all;
}
#novo-jogo:hover {
    border: 2px solid white !important;
    color: white !important;
}

.dolphin-analise-unselected span {
    cursor: pointer;
}
.dolphin-img {
    position: absolute;
    opacity: 0.05;
    display: none;
    z-index: -1;
}
.compilado span {
    white-space: pre;
}

@media screen and (max-width: 520px){
    header, .screen {
        width: 100%;
        min-width: auto;
    }
    .titulo h1 {
        font-size: 25px;
    }
    .virus-bar-wraper {
        width: 90%;
        min-width: auto;
    }
}

@media screen and (max-width: 435px){
    .compilado p {
        font-size: 15px;
    }
}

@media screen and (max-width: 410px){
    .compilado p {
        font-size: 14px;
    }
}

@media screen and (max-width: 385px){
    .compilado p {
        font-size: 13px;
    }
}

@media screen and (max-width: 365px){
    .compilado span {
        font-size: 12px;
    }
}

@media screen and (max-width: 345px){
    .compilado span {
        font-size: 11px;
    }
}

@media screen and (max-width: 325px){
    .compilado span {
        font-size: 10px;
    }
}

@media screen and (max-width: 310px){
    .compilado span {
        font-size: 9px;
    }
}